.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent {
    padding: 2rem;
    margin-top: 1rem;
    flex-grow: 1;
    margin-left: 200px;
    transition: margin-left 0.2s;
}

.mainContent.collapsed {
    padding: 2rem;
    margin-top: 1rem;
    flex-grow: 0.5;
    margin-left: 0;
    transition: margin-left 0.2s;
}

.toolBar {
    margin-top: 0 !important;
    box-shadow: 3px whitesmoke;
    width: 100%;
    position: fixed;
}
